In [109]:
import pandas as pd
import numpy as np

In [32]:
nodes = pd.read_excel('nodes-net01.xlsx',
                     sheet_name='net1')

In [17]:
nodes.head(3)

,u,v,uaddr,vaddr,distannce,type
0,서울(★서울청사),남양주(T중심국),서울 종로구 세종대로 209,경기 남양주시 금곡동 172-10,42,M
1,남양주(T중심국),S가평집중국,경기 남양주시 금곡동 172-10,경기 가평군 가평읍 읍내리 470-1,49,M
2,S가평집중국,춘천(강원도청),경기 가평군 가평읍 읍내리 470-1,강원 춘천시 중앙로 1,38,M

In [19]:
nodes.index

RangeIndex(start=0, stop=70, step=1)

In [20]:
nodes.columns

Index(['u', 'v', 'uaddr', 'vaddr', 'distannce', 'type'], dtype='object')

In [27]:
nodes.v

0     남양주(T중심국)
1        S가평집중국
2      춘천(강원도청)
3           홍천T
4      원주(원주시청)
        ...
65         대전센터
66     광주(광주시청)
67         광주센터
68         세종시청
69    세종(★세종청사)
Name: v, Length: 70, dtype: object

In [52]:
nodes.loc[0:4,['u','v','distance']]

           u          v  distance
0  서울(★서울청사)  남양주(T중심국)        42
1  남양주(T중심국)     S가평집중국        49
2     S가평집중국   춘천(강원도청)        38
3   춘천(강원도청)        홍천T        47
4        홍천T   원주(원주시청)        57

In [46]:
nodes['weight'] = (nodes['distance'] + 69) // 70

In [53]:
nodes.head(5)

,u,v,uaddr,vaddr,distance,type,weight
0,서울(★서울청사),남양주(T중심국),서울 종로구 세종대로 209,경기 남양주시 금곡동 172-10,42,M,1
1,남양주(T중심국),S가평집중국,경기 남양주시 금곡동 172-10,경기 가평군 가평읍 읍내리 470-1,49,M,1
2,S가평집중국,춘천(강원도청),경기 가평군 가평읍 읍내리 470-1,강원 춘천시 중앙로 1,38,M,1
3,춘천(강원도청),홍천T,강원 춘천시 중앙로 1,강원 홍천군 홍천읍 연봉리,47,M,1
4,홍천T,원주(원주시청),강원 홍천군 홍천읍 연봉리,강원 원주시 시청로 1,57,M,1

In [124]:
addr = nodes.loc[0, 'uaddr']
#addr = addr.replace(" ", "%20")
URL = f"http://maps.googleapis.com/maps/api/geocode/json?sensor=false&language=ko&address={addr}"
URL

'http://maps.googleapis.com/maps/api/geocode/json?sensor=false&language=ko&address=서울 종로구 세종대로 209'

In [132]:
from geopy.geocoders import Nominatim
geocd = Nominatim(user_agent='ghcho_test')
loc = geocd.geocode(addr)
print(loc.raw)
print(loc.latitude, loc.longitude)

{'place_id': 3368683, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 368875600, 'boundingbox': ['37.5749319', '37.5750319', '126.9748274', '126.9749274'], 'lat': '37.5749819', 'lon': '126.9748774', 'display_name': '정부서울청사우체국, 209, 세종대로, 사직동, 오정구, 110-760, 대한민국', 'class': 'amenity', 'type': 'post_office', 'importance': 0.32100000000000006, 'icon': 'https://nominatim.openstreetmap.org/images/mapicons/amenity_post_office.p.20.png'}
37.5749819 126.9748774